{% extends 'base.html' %}

{% block content %}
<div class="card mb-4">
    <img src="{{ recipe.image_url }}" class="card-img-top">
    <div class="card-body">
        <h2 class="card-title">{{ recipe.title }}</h2>
        <h5>Ingredients:</h5>
        <ul>
            {% for item in recipe.ingredients %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <h5>Instructions:</h5>
        <p>{{ recipe.instructions }}</p>
    </div>
</div>
<a href="/" class="btn btn-secondary">Back to Home</a>
{% endblock %}
